.app {
  /* 
  The width is 100% so it covers the screen 
  It's flex because it can move around
  The gap between the left and the right side of the screen is 16px
  */
  width:100%;
  display: flex;
  gap: 16px;
}

.content{
  background-color: violet;
  flex:1;
  margin-right: 16px;
}



